//====================================================================================================

//=============== Content ===============//

.content {
   position: relative;

   // .content__body

   &__body {
      display: flex;
      // position: relative;
      column-gap: clamp(2rem, calc(2rem + (282 - 32) * ((100vw - 768px) / (1440 - 768))), 17.625rem);
      // column-gap: 282px;

      @media (max-width:$mobile) {
         flex-direction: column;
         align-items: center;
      }
   }



   // .content__title

   &__title {
      &:not(:last-child) {
         // margin-bottom: 29px;
         margin-bottom: clamp(1.5625rem, calc(1.5625rem + (29 - 25) * ((100vw - 768px) / (1440 - 768))), 1.8125rem);
      }
   }

   // .content__text

   &__text {
      // padding-right: 17px;
      padding-right: clamp(0rem, calc(0rem + (17 * ((100vw - 768px) / (1440 - 768)))), 1.0625rem);

      &:not(:last-child) {
         // margin-bottom: 40px;
         margin-bottom: clamp(1.5rem, calc(1.5rem + (40 - 24) * ((100vw - 768px) / (1440 - 768))), 2.5rem);
      }
   }

   // .content__button

   &__button {}

   // .content__image

   &__image {
      position: absolute;

      width: 214%;
      height: auto;
      /* Зменшення width від -16% до -75% */
      bottom: clamp(-75%, calc(-16% + ((16 - 75) * ((100vw - 768px) / (1440 - 768)))), -16%);
      // bottom: -32%;
      left: 0;
      object-fit: cover;
      z-index: -1;

      @media (max-width:$mobile) {
         position: relative;
         width: 100%;
         bottom: 0;
      }
   }

   &__image img {
      max-width: 100%;
      /* Забезпечує правильне відображення зображення */
      height: auto;
   }



   // .content__action

   &__action {
      // flex: 0 1 41.171%;
      // flex: 0 1 57.765%;

      flex: 0 1 clamp(24.875rem, calc(24.875rem + (457 - 398) * ((100vw - 768px) / (1440 - 768))), 28.5625rem);

      @media (max-width:$mobile) {
         flex: 0 1 auto;

         &:not(:last-child) {
            margin-bottom: 4.375rem;
         }
      }
   }

   // .content__media

   &__media {
      position: relative;
      // flex: 0 1 33.423423%;
      // flex: 0 1 37.445573%;
      flex: 0 1 clamp(16.125rem, calc(16.125rem + (371 - 258) * ((100vw - 768px) / (1440 - 768))), 23.1875rem);

      @media (max-width:$mobile) {
         flex: 0 1 auto;
      }
   }

   // .content__label

   &__label {
      display: inline-block;
      border-radius: 15px;
      box-shadow: 0px 34px 54px 0px #06168d29;
      background-color: #ffffff;
      padding-top: clamp(1rem, calc(1rem + (20 - 16) * ((100vw - 768px) / (1440 - 768))), 1.25rem);
      padding-bottom: clamp(1rem, calc(1rem + (20 - 16) * ((100vw - 768px) / (1440 - 768))), 1.25rem);
      padding-left: clamp(20px, calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768))), 24px);
   }
}

.label {
   position: absolute;

   // .label__text

   &__text {
      &:not(:last-child) {
         margin-bottom: clamp(0.0625rem, calc(0.0625rem + (2 - 1) * ((100vw - 768px) / (1440 - 768))), 0.125rem);

      }
   }

   // .label__count

   &__count {
      text-align: left;

   }

   &--1 {
      padding-right: clamp(1.25rem, calc(1.25rem + (57 - 20) * ((100vw - 768px) / (1440 - 768))), 3.5625rem);
      // top: 5.013928%;
      /* 18/359 */
      // top: -22.183099%;
      /* 63/284 */

      top: clamp(-63px, calc(-63px + ((18 - -63) * ((100vw - 768px) / (1440 - 768)))), 1.125rem);
      right: clamp(-64px, calc(-10px + ((10 - 64) * ((100vw - 768px) / (1440 - 768)))), -0.625rem);

      @media (max-width:$mobile) {
         top: clamp(-63px, calc(-63px - ((63 - -24) * ((100vw - 768px) / (1440 - 768)))), -24px);

         right: clamp(-37px, calc(-37px + ((10 - -37) * ((100vw - 768px) / (1440 - 768)))), -10px);
      }
   }

   &--2 {
      padding-right: clamp(2.8125rem, calc(2.8125rem + (72 - 45) * ((100vw - 768px) / (1440 - 768))), 4.5rem);
      // bottom: -5.013928%;
      /* 18/359 */
      bottom: clamp(-5.4375rem, calc(-5.4375rem + ((87 - -18) * ((100vw - 768px) / (1440 - 768)))), -1.125rem);
      // left: -32.345013%;
      /* -120/371 */
      left: clamp(-7.5rem, calc(-2.8125rem + ((45 - 120) * ((100vw - 768px) / (1440 - 768)))), -2.8125rem);
      /* 45/258 */

      @media (max-width:$mobile) {
         bottom: clamp(-87px, calc(-87px - ((87 - -24) * ((100vw - 768px) / (1440 - 768)))), -24px);
         left: clamp(-45px, calc(-37px + ((37 - 45) * ((100vw - 768px) / (1440 - 768)))), -37px);
      }
   }

}

//=============== Cards ===============//


.card__icon {}

.card--animation {

   &::before {
      position: absolute;
      content: '';
      background: url('@img/icons/animation.svg') center center / 1.4106rem 1.5rem no-repeat, $pinkOrangeGradient;
      display: inline-block;
      top: -6.741573%;
      /* 24/356 */
      left: 9.937888%;
      /* 32/322 */
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
   }
}

.card--design {

   &::before {
      position: absolute;
      content: '';
      background: url('@img/icons/design.svg') center center / 1.125rem 1.125rem no-repeat, $pinkOrangeGradient;
      display: inline-block;
      top: -6.741573%;
      /* 24/356 */
      left: 9.937888%;
      /* 32/322 */
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
   }
}

.card--photography {

   &::before {
      position: absolute;
      content: '';
      background: url('@img/icons/photography.svg') center center / 1.25rem 1.125rem no-repeat, $pinkOrangeGradient;
      display: inline-block;
      top: -6.741573%;
      /* 24/356 */
      left: 9.937888%;
      /* 32/322 */
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
   }
}

.card--crypto {

   &::before {
      position: absolute;
      content: '';
      background: url('@img/icons/crypto.svg') center center / 1rem 1rem no-repeat, $pinkOrangeGradient;
      display: inline-block;
      top: -6.741573%;
      /* 24/356 */
      left: 9.937888%;
      /* 32/322 */
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
   }
}

.card--business {

   &::before {
      position: absolute;
      content: '';
      background: url('@img/icons/business.svg') center center / 1.3125rem 1.125rem no-repeat, $pinkOrangeGradient;
      display: inline-block;
      top: -6.741573%;
      /* 24/356 */
      left: 9.937888%;
      /* 32/322 */
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
   }
}

//========================================================================================================================================================